body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Times New Roman', serif;
    color: #001158;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#timeline {
    list-style-type: none;
    padding: 0;
}

#timeline li {
    margin-bottom: 10px;
}

img {
    height: 200px;
    margin-bottom: 10px;
}

footer {
    font-size: 12px;
    color: #616161e0;
    padding: 10px 0;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}